School Summary
Perform the necessary calculations and then create a DataFrame that summarizes key metrics about each school.

Include the following:

School name

School type

Total students

Total school budget

Per student budget

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

Highest-Performing Schools (by % Overall Passing)
Sort the schools by % Overall Passing in descending order and display the top 5 rows.

Save the results in a DataFrame called "top_schools".

Lowest-Performing Schools (by % Overall Passing)
Sort the schools by % Overall Passing in ascending order and display the top 5 rows.

Save the results in a DataFrame called "bottom_schools".

Math Scores by Grade
Perform the necessary calculations to create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

Reading Scores by Grade
Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

Scores by School Spending
Create a table that breaks down school performance based on average spending ranges (per student).

Use the code provided below to create four bins with reasonable cutoff values to group school spending.

spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
Use pd.cut to categorize spending based on the bins.

Use the following code to then calculate mean scores per spending range.

spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]
Use the scores above to create a DataFrame called spending_summary.

Include the following metrics in the table:

Average math score

Average reading score

% passing math (the percentage of students who passed math)

% passing reading (the percentage of students who passed reading)

% overall passing (the percentage of students who passed math AND reading)

Scores by School Size
Use the following code to bin the per_school_summary.

size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
Use pd.cut on the "Total Students" column of the per_school_summary DataFrame.

Create a DataFrame called size_summary that breaks down school performance based on school size (small, medium, or large).

Scores by School Type
Use the per_school_summary DataFrame from the previous step to create a new DataFrame called type_summary.

This new DataFrame should show school performance based on the "School Type".

In [69]:
#import dependencies
import pandas as pd

In [70]:
#file path variables
schools = "../resources/schools_complete.csv"
students = "../resources/students_complete.csv"

In [71]:
#read csvs
schools_df = pd.read_csv(schools)
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [38]:
students_df = pd.read_csv(students)
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [91]:
#Total number of unique schools
total_schools = len(schools_df["school_name"].unique())

In [92]:
#Total students
total_students = schools_df["size"].sum()

In [93]:
#Average math score
math_avg = students_df["math_score"].mean()

#Average reading score
reading_avg = students_df["reading_score"].mean()

In [94]:
#Total budget
total_budget = schools_df["budget"].sum()

In [107]:
#% passing math (the percentage of students who passed math)
bins = [0,59.9,100]
grades = ["fail","pass"]
students_df["math_pass_fail"] = pd.cut(students_df["math_score"],bins,labels=grades)
passed_math = students_df.loc[students_df["math_pass_fail"] == "pass", :]
math_passers = len(passed_math["Student ID"])
math_pass_rate = math_passers / total_students
#% passing reading (the percentage of students who passed reading)
students_df["reading_pass_fail"] = pd.cut(students_df["reading_score"],bins,labels=grades)
passed_reading = students_df.loc[students_df["reading_pass_fail"] == "pass", :]
reading_passers = len(passed_reading["Student ID"])
reading_pass_rate = reading_passers / total_students
#% overall passing (the percentage of students who passed math AND reading)
passed_both = passed_math = students_df.loc[(students_df["math_pass_fail"] == "pass") & (students_df["reading_pass_fail"] == "pass"), :]
passers = len(passed_both["Student ID"])
overall_pass_rate = passers / total_students

In [105]:
district_summary = pd.DataFrame({
    "Total_Schools": [total_schools], 
    "Total_Students": [total_students],
    "Total_Budget": [total_budget],
    "Total_Budget": [total_budget],
    "Average_Math_Score": [math_avg], 
    "Average_Reading_Score": [reading_avg], 
    "%_Passing_Math": [math_pass_rate],
    "%_Passing_Reading": [reading_pass_rate],
    "%_Overall_Passing": [overall_pass_rate],
})
pd.DataFrame(district_summary)

,Total_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
0,15,39170,24649428,78.985371,81.87784,0.924457,1.0,0.924457

In [102]:
#merging the school and student data
merge_df = pd.merge(schools_df,students_df,on="school_name",how="outer")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Pass_Fail,pass_fail,math_pass_fail,reading_pass_fail
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,pass,pass,pass,pass
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,pass,pass,pass,pass
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,pass,pass,pass,pass
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,fail,fail,fail,pass
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,pass,pass,pass,pass

In [123]:
# School name

# School type

# Total students

# Total school budget

# Per student budget

per_student_budget = (merge_df["budget"])/(merge_df["size"])
merge_df["per_student_budget"] = per_student_budget

grouped_schools_df = merge_df.groupby(["school_name"])

# # Average math score
math_average = grouped_schools_df["math_score"].mean()

# # Average reading score
reading_average = grouped_schools_df["reading_score"].mean()

# % passing math (the percentage of students who passed math)

# % passing reading (the percentage of students who passed reading)

# % overall passing (the percentage of students who passed math AND reading)

#clean_merge = merge_df[["school_name","type","size","budget","average_math_score","average_"]

In [ ]:
#Save the results in a DataFrame called "top_schools".

In [ ]:
#Save the results in a DataFrame called "bottom_schools".