<H1>PyCity School Analysis</H1>

As a whole...

In [195]:
#import dependencies
import pandas as pd

#file path variables
schools = "../resources/schools_complete.csv"
students = "../resources/students_complete.csv"

#read csvs
schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)

#merging the school and student data
merge_df = pd.merge(schools_df,students_df,how="left",on=["school_name","school_name"])
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

<H1>District Summary</H1>

In [196]:
#group the data by school name
grouped_data = merge_df.groupby("school_name")

In [197]:
#Total number of unique schools
total_schools = len(grouped_data["school_name"].unique())

In [198]:
#Total students
total_students = grouped_data["size"].mean().sum()

In [199]:
#Total budget
total_budget = grouped_data["budget"].mean().sum()

In [200]:
#Average math score
math_avg = merge_df["math_score"].mean()

#Average reading score
reading_avg = merge_df["reading_score"].mean()

In [201]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
math_pass_count = merge_df[(merge_df["math_score"] >= 70)].count()["student_name"]
math_pass_rate = math_pass_count / float(total_students) * 100

#% passing reading (the percentage of students who passed reading)
reading_pass_count = merge_df[(merge_df["reading_score"] >= 70)].count()["student_name"]
reading_pass_rate = reading_pass_count / float(total_students) * 100


#% overall passing (the percentage of students who passed math AND reading)
passing_both_count = merge_df[
    (merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)
].count()["student_name"]
overall_pass_rate = passing_both_count /  float(total_students) * 100
overall_pass_rate

65.17232575950983

In [202]:
district_summary = pd.DataFrame({
    "Total_Schools": [total_schools], 
    "Total_Students": [total_students],
    "Total_Budget": [total_budget],
    "Total_Budget": [total_budget],
    "Average_Math_Score": [math_avg], 
    "Average_Reading_Score": [reading_avg], 
    "Passing_Math_Rate": [math_pass_rate],
    "Passing_Reading_Rate": [reading_pass_rate],
    "Overall_Passing_Rate": [overall_pass_rate],
})
pd.DataFrame(district_summary)

# Formatting
district_summary["Total_Students"] = district_summary["Total_Students"].map("{:,}".format)
district_summary["Total_Budget"] = district_summary["Total_Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,%_Passing_Math,%_Passing_Reading,%_Overall_Passing
0,15,"39,170.0","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

<H1>School Summary</H1>

In [260]:
# Use the code provided to select the school type
school_types = schools_df.set_index(["school_name"])["type"]

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [250]:
# Calculate the total student count
per_school_counts = merge_df.groupby("school_name").mean()["size"]

In [251]:
# Calculate the total school budget and per capita spending
per_school_budget = merge_df.groupby("school_name").mean()["budget"]
per_school_capita = per_school_budget / per_school_counts

In [252]:
# Calculate the average test scores
per_school_math = merge_df.groupby("school_name").mean("math_score")
per_school_reading = merge_df.groupby("school_name").mean("reading_score")

In [253]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = merge_df[
    (merge_df["math_score"] >= 70)]

In [254]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = merge_df[
    (merge_df["reading_score"] >= 70)]

In [255]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = merge_df[
    (merge_df["reading_score"] >= 70) & (merge_df["math_score"] >= 70)
]

In [267]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [280]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School_Types": school_types,
    "Student_Count": per_school_counts,
    "Total_School_Budget": per_school_budget,
    "Per_Capita_Budget": per_school_capita,
    "Average_Math_Score": per_school_math, 
    "Average_Reading_Score": per_school_reading, 
    "Passing_Math_Rate": per_school_passing_math,
    "Passing_Reading_Rate": per_school_passing_reading,
    "Overall_Passing_Rate": overall_passing_rate
    })

# per_school_summary = pd.DataFrame([[
#                                 school_types, per_school_counts, per_school_budget, per_school_capita,
#                                 per_school_math, per_school_reading, per_school_passing_math,
#                                 per_school_passing_reading,overall_passing_rate,
# ]])

# per_school_summary.index.name = None
    
# # Formatting
#per_school_summary["Total_School_Budget"] = per_school_summary["Total_School_Budget"].map("${:,.2f}".format)
#per_school_summary["Per_Capita_Budget"] = per_school_summary["Per_Capita_Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

ValueError: Data must be 1-dimensional

In [279]:
# Use the code provided to separate the data by grade
ninth_graders = merge_df[(merge_df["grade"] == "9th")]
tenth_graders = merge_df[(merge_df["grade"] == "10th")]
eleventh_graders = merge_df[(merge_df["grade"] == "11th")]
twelfth_graders = merge_df[(merge_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = ninth_graders.groupby("school_name").mean()
tenth_graders_scores = tenth_graders.groupby("school_name").mean()
eleventh_graders_scores = eleventh_graders.groupby("school_name").mean()
twelfth_graders_scores = twelfth_graders.groupby("school_name").mean()

# Use the code to select only the `math_score`.
ninth_grader_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "Ninth Grade": ninth_grader_math_scores, 
    "Tenth Grade": tenth_grader_math_scores, 
    "Eleventh Grade": eleventh_grader_math_scores,
    "Twelfth Grade": twelfth_grader_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                       Ninth Grade  Tenth Grade  Eleventh Grade  Twelfth Grade
Bailey High School       77.083676    76.996772       80.575873      76.492218
Cabrera High School      83.094697    83.154506       80.575873      83.277487
Figueroa High School     76.403037    76.539974       80.575873      77.151369
Ford High School         77.361345    77.672316       80.575873      76.179963
Griffin High School      82.044010    84.229064       80.575873      83.356164
Hernandez High School    77.438495    77.337408       80.575873      77.186567
Holden High School       83.787402    83.429825       80.575873      82.855422
Huang High School        77.027251    75.908735       80.575873      77.225641
Johnson High School      77.187857    76.691117       80.575873      76.863248
Pena High School         83.625455    83.372000       80.575873      84.121547
Rodriguez High School    76.859966    76.612500       80.575873      77.690748
Shelton High School      83.420755    82.917411       80.575873      83.778976
Thomas High School       83.590022    83.087886       80.575873      83.497041
Wilson High School       83.085578    83.724422       80.575873      83.035794
Wright High School       83.264706    84.010288       80.575873      83.644986